In [1]:
import findspark
findspark.init()
findspark.find()

'/usr/local/opt/apache-spark/libexec'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
            SparkSession
                .builder
                .appName("UdfApp")
                .master("local[4]")
    
                .config("spark.dynamicAllocation.enabled", "false")
                .config("spark.sql.adaptive.enabled", "false")
    
                .getOrCreate()
        )

sc = spark.sparkContext

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/02 12:27:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/02 12:27:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/05/02 12:27:53 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/05/02 12:27:53 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/05/02 12:27:53 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/05/02 12:27:53 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [3]:
from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [4]:
# Read Cabs file
cabsDF = (
              spark
                .read
                .option("header", "true")
                .option("inferSchema", "true")
    
                .csv("./../files/input/Cabs.csv")
         )


# Create temp view
cabsDF.createOrReplaceTempView("Cabs")


cabsDF.show(truncate=False)

+---------+--------------------+------------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------------+--------------------------------------------+---------------+
|CabNumber|VehicleLicenseNumber|Name                    |LicenseType     |Active|PermitLicenseNumber|VehicleVinNumber |WheelchairAccessible|VehicleYear|VehicleType|TelephoneNumber|Website                   |Address                                     |LastDateUpdated|
+---------+--------------------+------------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------------+--------------------------------------------+---------------+
|T802127C |C19641              |ABCON INC.              |OWNER MUST DRIVE|YES   |null               |5TDBK3EH0DS268018|null                |2016       |null       |(718)438-1100  |null                      |41-24   38 STREET L.I.C. NY 11101           |04/22/2020     |
|T525963C |5362996             |ACCEPTABLE TAXI LLC     |NAMED DRIVER    |YES   |null               |JTDZN3EU1GJ044907|null                |2016       |null       |(718)375-1001  |null                      |2395 CONEY ISLAND AVENUE BROOKLYN NY 11223  |04/22/2020     |
|T457353C |5122403             |ALLIS CAB CORP          |NAMED DRIVER    |YES   |null               |4T1BD1FK9FU150746|null                |2013       |null       |(212)927-4600  |null                      |2400 AMSTERDAM AVENUE NEW YORK NY 10033     |04/22/2020     |
|T606373C |5386507             |BENE CAB CORP           |NAMED DRIVER    |YES   |AC992              |4T1BD1FK1EU137360|null                |2015       |null       |(718)472-9800  |null                      |29 - 10   36 AVENUE ASTORIA NY 11106        |04/22/2020     |
|T451536C |5143151             |BOULOS TAXI CORP.       |NAMED DRIVER    |YES   |null               |4T1BD1FK8FU142430|null                |2017       |null       |(718)971-5639  |null                      |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T500313C |5268004             |CACERES,JAIME,P         |OWNER MUST DRIVE|YES   |null               |4T1BF1FK8FU477889|null                |2015       |null       |(516)861-2019  |null                      |62 MAIN STREET PT WASHINGTON NY 11050       |04/22/2020     |
|T484321C |5238526             |CALCIUM ONE SERVICE INC.|NAMED DRIVER    |YES   |null               |4T1BD1FK4FU176834|null                |2017       |null       |(718)971-5559  |WWW.DRIVEUBERNYC.COM      |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T663612C |5386120             |CHARLES,WILBERT         |OWNER MUST DRIVE|YES   |null               |JTMRJREV1HD120102|null                |2015       |null       |(718)658-5700  |null                      |135-10 JAMAICA AVENUE RICHMOND HILL NY 11418|04/22/2020     |
|T725323C |5171032             |CHAWKI,MICHAEL          |OWNER MUST DRIVE|YES   |null               |1FMCU4K35AKA35795|null                |2016       |null       |(646)665-3514  |DRIVEUBERNYC.COM          |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T519718C |5330235             |CHRYSOVALANTOU CORP,    |NAMED DRIVER    |YES   |null               |4T1BD1FK4FU149276|null                |2017       |null       |(718)515-5555  |WWW.BESTDEALCARSERVICE.COM|757 A BURKE AVENUE BRONX NY 10467           |04/22/2020     |
|T664587C |5588056             |COFI BOAT CORP.         |OWNER MUST DRIVE|YES   |null               |JTMRJREV5GD012564|null                |2016       |null       |(212)666-6666  |null                      |2642 BROADWAY NY NY 10025                   |04/22/2020     |
|ELITE346 |F37515              |DEKEL TAXI CAB CORP     |NAMED DRIVER    |YES   |null               |4T1BD1FK4FU163789|null                |2019       |null       |(718)472-2300  |null                      |32-72 GALE AVENUE LIC NY 11101              |04/22/2020     |
|T621614C |5453341             |FLORIAN & ROBERT INC    |NAMED DRIVER    |YES   |null               |JTDZN3EU3E3306122|null                |2012       |null       |(718)543-0001  |null                      |3107 KINGSBRIDGE AVENUE BRONX NY 10463      |04/22/2020     |
|T714073C |5385905             |GART CAB CORP           |NAMED DRIVER    |YES   |null               |3N8CM0JT9EK702820|null                |2016       |null       |(718)971-5559  |ZWEINYC.COM               |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T655723C |5553705             |GAUTHIER,JACQUES        |OWNER MUST DRIVE|YES   |null               |1FMCU4K35CKA37551|null                |2016       |null       |(212)431-5555  |null                      |11-35   31 DRIVE LONG ISLAND CIT NY 11106   |04/22/2020     |
|T600330C |V75262              |GEORGAKOPOULOS, GEORGIA |NAMED DRIVER    |YES   |null               |2FABP7AV7BX148809|null                |2010       |null       |(646)665-7584  |null                      |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T652698C |5552919             |GUJAR CAB CORP          |NAMED DRIVER    |YES   |null               |1FMCU4K35CKA85955|null                |2015       |null       |(646)665-7540  |WWW.ELFNYC1.COM           |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|T624038C |5438429             |HUEZO, SALVADOR         |OWNER MUST DRIVE|YES   |null               |3N8CM0JT3GK701911|null                |2019       |null       |(646)665-7304  |DRIVEUBERNYC.COM          |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
|ELITE903 |5388274             |JEAN-PIERRE,SERGE       |OWNER MUST DRIVE|YES   |null               |5TDZK3DCXGS706794|null                |2014       |null       |(718)472-2300  |null                      |32-72 GALE AVENUE LIC NY 11101              |04/22/2020     |
|T487069C |5250818             |JETS CAB CORP.          |NAMED DRIVER    |YES   |null               |JTMRJREV8HD120663|null                |2016       |null       |(646)665-7402  |null                      |636 WEST   28 STREET NEW YORK NY 10001      |04/22/2020     |
+---------+--------------------+------------------------+----------------+------+-------------------+-----------------+--------------------+-----------+-----------+---------------+--------------------------+--------------------------------------------+---------------+
only showing top 20 rows

### Create a function to convert case

In [5]:
def convertCase(str):
    
    result = ""
    
    nameWordsArray = str.split(",")
    
    for nameWord in nameWordsArray:        
       result = (result
                    + nameWord[0:1].upper()             # Ex- for word 'MOHIT', returns=> 'M'
                    + nameWord[1:len(nameWord)].lower() # Ex- for word 'MOHIT', returns=> 'ohit, '
                    + ", "   
                )
    
    result = result[0:len(result) - 2]
                                        # Ex- for name 'Batra, Mohit, ' returns => 'Batra, Mohit'
    
    return result

### Option 1: Register function as a User Defined Function (UDF)

This registration option is for using UDF in Python/Scala

In [6]:
convertCaseUdf = udf( lambda str: convertCase(str), StringType() )

### Use UDF in DataFrame code

In [7]:
(
    cabsDF
        .select(
                    "Name",
            
                    convertCaseUdf(col("Name")).alias("Name_ConvertedCase")
               )
    
        # .withColumn ("Name_ConvertedCase", convertCaseUdf(col("Name")))
    
).show(truncate=False)

+------------------------+------------------------+
|Name                    |Name_ConvertedCase      |
+------------------------+------------------------+
|ABCON INC.              |Abcon inc.              |
|ACCEPTABLE TAXI LLC     |Acceptable taxi llc     |
|ALLIS CAB CORP          |Allis cab corp          |
|BENE CAB CORP           |Bene cab corp           |
|BOULOS TAXI CORP.       |Boulos taxi corp.       |
|CACERES,JAIME,P         |Caceres, Jaime, P       |
|CALCIUM ONE SERVICE INC.|Calcium one service inc.|
|CHARLES,WILBERT         |Charles, Wilbert        |
|CHAWKI,MICHAEL          |Chawki, Michael         |
|CHRYSOVALANTOU CORP,    |Chrysovalantou corp,    |
|COFI BOAT CORP.         |Cofi boat corp.         |
|DEKEL TAXI CAB CORP     |Dekel taxi cab corp     |
|FLORIAN & ROBERT INC    |Florian & robert inc    |
|GART CAB CORP           |Gart cab corp           |
|GAUTHIER,JACQUES        |Gauthier, Jacques       |
|GEORGAKOPOULOS, GEORGIA |Georgakopoulos,  georgia|
|GUJAR CAB CORP          |Gujar cab corp          |
|HUEZO, SALVADOR         |Huezo,  salvador        |
|JEAN-PIERRE,SERGE       |Jean-pierre, Serge      |
|JETS CAB CORP.          |Jets cab corp.          |
+------------------------+------------------------+
only showing top 20 rows

### Option 2: Register function as a User Defined Function (UDF)

This registration option is for using UDF in SQL

In [8]:
spark.udf.register("convertCaseSqlUdf", convertCase, StringType())

### Use UDF in SQL query

In [9]:
spark.sql("""

    SELECT Name
    
         , convertCaseSqlUdf(Name) AS Name_ConvertedCase
    
    FROM Cabs

""").show(truncate=False)

+------------------------+------------------------+
|Name                    |Name_ConvertedCase      |
+------------------------+------------------------+
|ABCON INC.              |Abcon inc.              |
|ACCEPTABLE TAXI LLC     |Acceptable taxi llc     |
|ALLIS CAB CORP          |Allis cab corp          |
|BENE CAB CORP           |Bene cab corp           |
|BOULOS TAXI CORP.       |Boulos taxi corp.       |
|CACERES,JAIME,P         |Caceres, Jaime, P       |
|CALCIUM ONE SERVICE INC.|Calcium one service inc.|
|CHARLES,WILBERT         |Charles, Wilbert        |
|CHAWKI,MICHAEL          |Chawki, Michael         |
|CHRYSOVALANTOU CORP,    |Chrysovalantou corp,    |
|COFI BOAT CORP.         |Cofi boat corp.         |
|DEKEL TAXI CAB CORP     |Dekel taxi cab corp     |
|FLORIAN & ROBERT INC    |Florian & robert inc    |
|GART CAB CORP           |Gart cab corp           |
|GAUTHIER,JACQUES        |Gauthier, Jacques       |
|GEORGAKOPOULOS, GEORGIA |Georgakopoulos,  georgia|
|GUJAR CAB CORP          |Gujar cab corp          |
|HUEZO, SALVADOR         |Huezo,  salvador        |
|JEAN-PIERRE,SERGE       |Jean-pierre, Serge      |
|JETS CAB CORP.          |Jets cab corp.          |
+------------------------+------------------------+
only showing top 20 rows